.ui {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  left: 0;
  top: 0;
  background-color: green;
}

.content {
  position: relative;
}
.canvas {
  position: absolute;
}
.canvas:hover {
  cursor: default;
}
.picture {
  position: absolute;
  visibility: hidden;
}
// #file-upload {
//   display: none;
// }
.add-mode {
  cursor: copy;
}
